html{
    width: 100%;
    margin: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

#section-home h2{
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
    max-width: 800px;
}
#section-home b{
    color: #1ABC9C;
}

#section-home{
    padding-top: 20px;
    padding-bottom: 20px;
}

#proto-form{
    padding: 20px;
    border: solid 2px #6d6d6d;
    border-radius: 10px;
}

header .menu-items a:hover{
    color: #1ABC9C !important;
}

#proto-form #message{
    resize: none;
}

#proto-form form{
    max-width: 870px;
}

#copyrights{
    text-align: center;
}

.proto{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    background: white;
    border-radius: 5px;
}

.proto-card{
    margin-bottom: 10px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding:10px 22px;
    border-radius: 42px;
    font-size: 18px;
    transition-duration: 0.3s;
}

#myBtn:hover {
    background-color: #0059c4;
}
